body { 
margin: 0;
padding: 0;
font-size: 26px;
font-weight: 700;
background-image: linear-gradient(to left top,rgba(16, 52, 92, 0.5), rgba(16, 52, 92, 0.5)), url("img/background_full.JPG");
background-repeat: repeat, no-repeat;
background-position: top;
background-size: contain, cover;
width: 100%;
/* font-family: "Montserrat", "Helvetica", "Arial", sans-serif; */
font-family: 'Merriweather', serif;
color: white;
}

/* rgba(127, 255, 212, 0.341) */

.full {
display: flex;
width: 100%;
flex-direction: column;
}

.header {
display: flex;
flex-direction: row;
width: 100%;
justify-content: space-between;
flex-wrap: wrap;
height: 150px;
margin-top: 20px;
}

.empty {
margin-right: auto;
align-self: center; 
flex-grow: 0;
/*padding: 100px 30px;*/
display: flex;
flex-direction: row;
border-bottom: white 2px solid;
padding: 10px;
margin-left: 10px;
}

.empty div {
font-size: 18px;
margin: 0 10px;  
}

.empty a {
padding: 5px;
font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
color: whitesmoke;
text-decoration: none;

text-shadow:  #000000 1px 1px 20px, #000000 2px 2px 20px;
border-radius: 5%;
}

.empty .lama  {
color: rgb(247, 107, 107);
}

.empty a:focus,
.empty a:hover {
color: rgb(247, 107, 107);
}

.first {
flex-grow: 2;
background-image: url("img/lama_2.gif");
background-repeat: no-repeat;
background-position: top;
background-size: contain;
}

.second { 
font-family: 'Montserrat', sans-serif;
flex-grow: 1;
font-size: 26px;
margin-right: 10px;
margin-top: auto;
margin-bottom: auto;
}

.second ul {
width: 150px;    
list-style: none;
} 

.claa > li {
padding: 20px 0;
height: 20px;
display: inline-block;
vertical-align: middle;
text-align: center;
font-size: 18px;
font-weight: 500;
letter-spacing: 1px;
text-transform: uppercase;
color: #0b0c23;
background-color: #f5e7b685;
box-shadow: 0 4px 16px rgba(249, 221, 121, 0.4);
border-radius: 24px;
transition: background-color 100ms, box-shadow 100ms;
border: black 1px solid;
}

.claa:focus > li, 
.claa:hover > li {
  background-color: #f9e7a8;
  box-shadow: 0 4px 32px rgba(249, 221, 121, 0.6);
}

.contacts {
margin-top: 20px;
}

.contacts li {
height: 20px;
font-size: 12px;
width: 175px;
opacity: 0;
text-decoration: none;
display: block;
padding: 10px 15px;
background-color: rgba(16, 52, 92, 0.2);
border-bottom: 2px solid black;
transition-duration: 0.75s;
border-radius: 5px;
text-transform:lowercase;
}

.contacts a {
text-decoration: none;
color: white;
position: relative;
}

.second ul:hover .contacts li,
.second ul:focus .contacts li {
opacity: 1;
}

li a:focus,
li a:hover  {
  color: #f9dd79;
}

li a::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f9dd79;
  transition: width 200ms;
}

li a:hover::after {
  width: 100%;
}

.phone {
  padding-left: 21px;
  background-image: url("img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.email {
  padding-left: 28px;
  background-image: url("img/icon-email.svg");
  background-repeat: no-repeat;
  background-position: left;
 }

 .email:focus,
 .email:hover {
   background-image: url("img/icon-email-alt.svg");
 }

 .phone:focus,
 .phone:hover {
   background-image: url("img/icon-phone-alt.svg");
 }

.main {
width: 70%;
font-size: 40px;   
margin-left: auto;
margin-right: auto;
text-align: center; 
margin-top: 40px;
text-shadow: 0 0 10px #bba54dc5,
#000000 1px 1px 20px;
color: rgb(247, 236, 224); 
}

.main p:last-of-type {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px; 
  text-shadow:  #000000 1px 1px 20px, #000000 2px 2px 20px;
  padding-top: 30px;
}